# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# Виртуальное окружение
venv/
env/
.venv

# IDE
.vscode/
.idea/

# Файлы данных (при необходимости можно исключить expenses.json, если не хотите его коммитить)
expenses.json

# Операционные системы
.DS_Store
Thumbs.db
